.post-section {
    position: relative;

    display: flex;
    flex-direction: column;
    row-gap: .2em;
}

.no-post {
    background: var(--white);
    height: 100%;
    padding: 1em;
    font-family: var(--font-sans);
}

.no-post h1 {
    font-size: var(--heading-font);
    color: var(--black);
}

.no-post p {
    font-size: var(--body-font);
    color: var(--dark-grey);
}