.header {
    background: var(--header-background);
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    max-width: 500px;
    margin: 0 auto;
}

.header-top {
    background: var(--header-background);
    font-family: var(--font-sans);
    padding: .3em 1em;
    font-weight: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 50%;
    width: 100%;
    max-width: 500px;
    transform: translateX(-50%);
}

.header-logo {
    font-size: var(--heading-font);
    color: var(--main-button-color);
}

.header-logout {
    display: flex;
    align-items: center;
    color: var(--main-button-color);
}

.header-logout p {
    font-size: var(--small-font);
}

.header-logout button {
    border: none;
    width: 40px;
    aspect-ratio: 1;
    font-size: 1.5em;
    background: none;
    cursor: pointer;
    color: var(--main-button-color);
}

.primary-navigation {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    background: var(--header-background);
    z-index: 999;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .2em 1.5em 1.5em 1.5em;
    max-width: 500px;
}

@supports (backdrop-filter: blur(5px)) {
    .primary-navigation {
        background: #271b2dcb;
        backdrop-filter: blur(5px);
    }
}

.navigation-icon {
    font-size: 1.5em;
    cursor: pointer;
    width: 1.5em;
    aspect-ratio: 1;
    display: grid;
    place-content: center;
    color: var(--navigation-action);
}

.navigation-post {
    font-size: .9em;
    border: solid 2px var(--navigation-action);
    border-radius: 7px;
}

@media screen and (min-width: 900px) {
    
}