.post-action-container {
    padding: 1em 1.5em;
    border-top: solid 1px var(--extra-light-grey);
}

.post-action {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.post-action-button {
    display: flex;
    align-items: center;
    gap: .1em;
    color: var(--black);
    background: none;
    border: none;
    cursor: pointer;
}

.post-action-button p {
    font-size: .7rem;
    font-family: var(--font-sans);
}

.post-action-button i {
    font-size: 1.5rem;
}