.post-form-container {
    padding: 1.5em;
    min-height: 100vh;
    padding-bottom: 5em;
    max-width: 500px;
    margin: 0 auto;
    background: var(--auth-container);
}

.post-form form {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.post-form form textarea {
    background: var(--auth-input-bg);
    border: none;
    border-radius: 10px;
    padding: 1em;

    font-family: var(--font-sans);
    font-size: var(--body-font);
    color: var(--text-four);

    resize: none;
}

.post-form form textarea:focus {
    outline: var(--input-focus);
}

.post-form-image {
    display: none;
}

.post-form-image-button {
    height: 50px;
    aspect-ratio: 1;
    background: var(--input-img-bg);
    border: none;
    border-radius: 10px;
    color: var(--input-img-icon);
    font-size: 1.2rem;
    cursor: pointer;
}

.post-form-submit {
    padding: .8em;
    border-radius: 10px;
    border: none;
    background: var(--main-button-color);
    color: #fff;
    font-family: var(--font-sans);
    font-weight: bold;
    font-size: var(--body-font);
    margin: 1.5em 0 1em 0;
    cursor: pointer;
}

.post-form-submit:hover {
    background: var(--main-button-hover);
}

.post-form-submit:focus {
    background: var(--main-button-hover);
}

.post-form-notif {
    padding: .5em 1em;
    background: var(--main-button-hover);
    border-radius: 10px;
    color: #fff;

    font-family: var(--font-sans);
    font-size: var(--body-font);
    margin-bottom: 1em;
}

.caption-indicator {
    background: var(--input-indicator);
    width: fit-content;
    padding: .5em 1em;
    border-radius: 100em;

    font-family: var(--font-sans);
    font-size: var(--small-font);
    color: var(--text-five);
    margin-bottom: .5em;
}

.post-form-content {
    display: flex;
    gap: 1em;
}

.post-form-no-img {
    font-family: var(--font-sans);
    color: var(--text-four);
}