.post-container {
    background: var(--white);
    border: solid 1px var(--extra-light-grey);
}

.post-container-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    padding-bottom: 0;
}

.post-user {
    display: flex;
    align-items: center;
    gap: 1em;
    padding-bottom: 0;
}

.post-avatar {
    width: 70px;
    aspect-ratio: 1;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 50%;

    display: grid;
    place-content: center;
}

.post-username {
    line-height: 1.1em;
}

.post-username p {
    font-family: var(--font-sans);
    color: var(--black);
    font-size: var(--body-font);
}

.post-username small {
    font-family: var(--font-sans);
    color: var(--dark-grey);
}

.post-content {
    position: relative;
}

.post-caption {
    font-family: var(--font-sans);
    color: var(--black);
    font-size: var(--body-font);
    margin-bottom: 1em;
    padding: 1em 1em 0 1em;
}

.post-option {
    height: 40px;
    aspect-ratio: 1;
    border: none;
    border-radius: 50%;
    background: none;
    font-size: 18px;
}