.avatar-img,
.avatar-placeholder {
    height: 30px;
    width: 30px;
    flex-shrink: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-placeholder {
    background: var(--profile-bg);
    color: var(--profile-icon-color);
}

.avatar-img img {
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.big-avatar-img,
.big-avatar-placeholder {
    height: 60px;
    width: 60px;
    flex-shrink: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-avatar-placeholder {
    background: var(--profile-bg);
    color: var(--profile-icon-color);
}

.profile-avatar-img img {
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.profile-avatar-img,
.profile-avatar-placeholder {
    height: 100px;
    width: 100px;
    flex-shrink: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-avatar-placeholder {
    background: var(--profile-bg);
    color: var(--profile-icon-color);
}