.avatar-img,
.avatar-placeholder {
    height: 40px;
    width: 40px;
    flex-shrink: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-placeholder {
    background: var(--super-light-grey);
    color: var(--dark-grey);
}

.avatar-img img {
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
