:root {
    --black-one: #111;
    --black-two: #222;
    --black-three: #333;

    --white-one: #fff;
    --white-two: #f6f6f6;
    --white-three: #f1f1f1;

    --body-font: 14px;
    --heading-font: 16px;
    --small-font: 12px;

    --font-sans: "Karla";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TYPOGRAPHY */
.body-font {
    color: var(--black-two);
    font-family: var(--font-sans);
    font-size: var(--body-font);
}

.small-font {
    font-family: var(--font-sans);
    color: var(--black-three);
    font-size: var(--small-font);
}

.heading-font {
    font-family: var(--font-sans);
    color: var(--black-one);
    font-size: var(--body-font);
    font-weight: 700;
}
