:root {
    --blue: #1DA1F2;
    --blue-hover: #32a9f3;
    --black: #14171A;
    --black-hover: #181b1f;
    --dark-grey: #657786;
    --light-grey: #AAB8C2;
    --extra-light-grey: #E1E8ED;
    --super-light-grey: #F5F8FA;
    --white: #fff;
    
    --red-error: rgb(226, 0, 0);
    --green-success: rgb(0, 175, 0);

    --accent-color: #fcb74;

    --body-font: 16px;
    --body-font: .9rem;
    --heading-font: 18px;
    --heading-font: 1.2rem;
    --small-font: .8rem;

    --font-sans: "Poppins";
    --border-style: solid 1px rgb(185, 185, 185);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--super-light-grey);
}

/* TYPOGRAPHY */
.body-font {
    color: var(--black-two);
    font-family: var(--font-sans);
    font-size: var(--body-font);
}

.small-font {
    font-family: var(--font-sans);
    color: var(--black-three);
    font-size: var(--small-font);
}

.heading-font {
    font-family: var(--font-sans);
    color: var(--black-one);
    font-size: var(--heading-font);
    font-weight: bold;
}
