:root {
    --black-one: #111;
    --black-two: #222;
    --black-three: #333;

    --white-one: #fff;
    --white-two: #f6f6f6;

    --body-font: 14px;
    --heading-font: 18px;
    --small-font: 12px;

    --font-sans: "Roboto Condensed";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TYPOGRAPHY */
.body-font {
    color: #333;
    font-family: var(--font-sans);
    font-size: var(--body-font);
}

.small-font {
    font-family: var(--font-sans);
    color: var(--black-three);
    font-size: var(--small-font);
}
